@model IEnumerable<Taller1.Models.Jugador>

@{
    ViewData["Title"] = "Jugadores LigaPro";
}

<h1>Jugadores</h1>

<p>
    <a asp-action="Create" type="button" class="btn btn-success">Crear Nuevo Jugador </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Posicion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Edad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Equipo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posicion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Equipo.Ciudad)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.IdJugador" type="button" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.IdJugador" type="button" class="btn btn-warning">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.IdJugador" type="button" class="btn btn-danger" >Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
