@model Taller1.Models.Estadio

@{
    ViewData["Title"] = "DetallesEstadio";
}

<h1>Detalles</h1>

<div>
    <h4>Estadio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ciudad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ciudad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cpacidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cpacidad)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdEstadio" type="button" class="btn btn-success">Editar</a> |
    <a asp-action="Index" type="button" class="btn btn-danger">Regresar </a>
</div>
